<configuration debug="true">


	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.apache.http.wire" level="trace" />
	
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="off"/>
	<logger name="h2database" level="off"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>