<!DOCTYPE html>
<html lang="en" id="controller" ng-app="ryvr" ng-controller="ResourceController as controller">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<base href="/">
<title>ryvr</title>

<link rel="stylesheet" type="text/css" href="/system/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/system/webjars/angularjs/1.6.0/angular-csp.css" />
<link rel="stylesheet" href="/system/css/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container" ng-hide="!controller.loaded">Loading...</div>

  <div class="container" ng-show="!controller.loaded">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{controller.root.title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="links">
            <li ng-repeat="(rel, link) in controller.root._links" ng-class="{active: isActive(link.href)}"><a
              href="{{link.href}}" rel="{{rel}}">{{link.title ? link.title : rel }}</a></li>

            <!-- li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul></li-->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-hide="!controller.loading" class="" id="loading"><a href="#">Loading...</a></li>
            <li ng-show="!controller.loading" class="ng-hide" id="loaded"><a href="#">Loaded</a></li>
          </ul>

          <!-- ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul-->
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1 ng-if="controller.resource._links.hasOwnProperty('self')" class="title">
        <a href="{{controller.resource._links['self'].href}}">{{controller.resource.title}}</a>
      </h1>
      <h1 ng-if="!controller.resource._links.hasOwnProperty('self')" class="title">{{controller.resource.title}}</h1>
      <!-- p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work.
        It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p-->
    </div>
    <!-- /jumbotron -->

    <div id="properties" ng-if="resourceHasProperties()">
      <h2>Properties</h2>
      <div class="row item properties:{{id}}:{{key}}" ng-repeat="(key, value) in resourceProperties()">
        <div class="col-md-2 property-label">
          <label for="property:{{id}}:{{key}}">{{key}}</label>
        </div>
        <div class="col-md-10" id="property:{{id}}:{{key}}">{{value}}</div>
      </div>
      <!-- /row -->
    </div>
    <!-- /properties -->

    <div id="rawjson" ng-if="controller.debug">
      <h2>Debug Json</h2>
      <h3>Resource</h3>
      <pre><code class="json">{{controller.pretty(controller.resource)}}</code></pre>
      <h3>Root</h3>
      <pre><code class="json">{{controller.pretty(controller.root)}}</code></pre>
    </div>
  </div>
  <!-- /container -->

  <div ng-show="!controller.loaded">


    <div class="container" ng-if="controller.hasOwnProperty('resource')">


      <div id="_embedded">
        <div class="row" ng-repeat="summary in controller.resource._embedded">
          <div id="{{summary.id}}" class="item" title="{{summary.type}}">
            <h2>
              <a href="{{summary.path}}">{{summary.data.name}}</a>
            </h2>
            <ul>
              <li class="dataItem" ng-repeat="(key, value) in summary.data"><label for="{{summary.path}}:{{key}}">{{key}}</label><span
                class="dataSeperator">: </span><span id="{{summary.path}}:{{key}}">{{value}}</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="actions">
        <div ng-repeat="action in controller.resource.queries"
          ng-class="{'has-error': controller.error.hasOwnProperty(action.name) && controller.error[action.name].hasOwnProperty('error')}">
          <h3>{{action.name}}</h3>
          <form ng-submit="controller.processForm(this)" name="{{action.name}}" method="get">
            <div class="row">
              <div ng-repeat="field in action.fields" ng-if="field.type!='submit'" class="form-group col-sm-4">
                <div class="control-group" ng-class="{'has-error': field.hasOwnProperty('error')}">
                  <label class="control-label" for="{{field.name}}" ng-if="field.type!='hidden'">{{field.name}}</label>
                  <div class="controls">
                    <input name="{{field.name}}" type="{{field.type}}" value="{{field.value}}" class="form-control"
                      ng-model="controller.actionValues[action.name][field.name]"
                      ng-init="controller.actionValues[action.name][field.name]=field.value" /> <span
                      class="help-inline help-block">{{field.error}}</span>
                    <pre>{{controller.actionValues[action.name][field.name]}}</pre>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-repeat="field in action.fields" ng-if="field.type=='submit'" class="form-group col-sm-4">
                <input type="submit" class="btn btn-success" value="{{field.value}}" name="{{field.name}}"
                  ng-model="controller.actionValues[action.name][field.name]"
                  ng-init="controller.actionValues[action.name][field.name]=field.value" />
              </div>
            </div>
          </form>
          <span class="help-inline help-block">{{controller.error[action.name].error}}</span>
          <pre>{{action}}</pre>
        </div>

        <div ng-repeat="action in controller.resource.commands"
          ng-class="{'has-error': controller.error.hasOwnProperty(action.name) && controller.error[action.name].hasOwnProperty('error')}">
          <h3>{{action.name}}</h3>
          <form ng-submit="controller.processForm(this)" name="{{action.name}}" method="{{action.method}}">
            <div class="row">
              <div ng-repeat="field in action.fields" ng-if="field.type!='submit'" class="form-group col-sm-4">
                <div class="control-group" ng-class="{'has-error': field.hasOwnProperty('error')}">
                  <label class="control-label" for="{{field.name}}" ng-if="field.type!='hidden'">{{field.name}}</label>
                  <div class="controls">
                    <input name="{{field.name}}" type="{{field.type}}" value="{{field.value}}" class="form-control"
                      ng-model="controller.actionValues[action.name][field.name]"
                      ng-init="controller.actionValues[action.name][field.name]=field.value" /> <span
                      class="help-inline help-block">{{field.error}}</span>
                    <pre>{{controller.actionValues[action.name][field.name]}}</pre>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-repeat="field in action.fields" ng-if="field.type=='submit'" class="form-group col-sm-4">
                <input type="submit" class="btn btn-success" value="{{field.value}}" name="{{field.name}}"
                  ng-model="controller.actionValues[action.name][field.name]"
                  ng-init="controller.actionValues[action.name][field.name]=field.value" />
              </div>
            </div>
          </form>
          <span class="help-inline help-block">{{controller.error[action.name].error}}</span>
          <pre>{{action}}</pre>
        </div>

        <div ng-repeat="action in controller.resource.createCommands"
          ng-class="{'has-error': controller.error.hasOwnProperty(action.name) && controller.error[action.name].hasOwnProperty('error')}">
          <h3>{{action.name}}</h3>
          <form ng-submit="controller.processForm(this)" name="{{action.name}}" method="{{action.method}}">
            <div class="row">
              <div ng-repeat="field in action.fields" ng-if="field.type!='submit'" class="form-group col-sm-4">
                <div class="control-group" ng-class="{'has-error': field.hasOwnProperty('error')}">
                  <label class="control-label" for="{{field.name}}" ng-if="field.type!='hidden'">{{field.name}}</label>
                  <div class="controls">
                    <input name="{{field.name}}" type="{{field.type}}" value="{{field.value}}" class="form-control"
                      ng-model="controller.actionValues[action.name][field.name]"
                      ng-init="controller.actionValues[action.name][field.name]=field.value" /> <span
                      class="help-inline help-block">{{field.error}}</span>
                    <pre>{{controller.actionValues[action.name][field.name]}}</pre>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div ng-repeat="field in action.fields" ng-if="field.type=='submit'" class="form-group col-sm-4">
                <input type="submit" class="btn btn-success" value="{{field.value}}" name="{{field.name}}"
                  ng-model="controller.actionValues[action.name][field.name]"
                  ng-init="controller.actionValues[action.name][field.name]=field.value" />
              </div>
            </div>
          </form>
          <span class="help-inline help-block">{{controller.error[action.name].error}}</span>
          <pre>{{action}}</pre>
        </div>

      </div>
    </div>

    <div class="container" ng-if="!controller.hasOwnProperty('resource')">
      <div class="page-header not-found">
        <h1>Not Found</h1>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/system/webjars/jquery/3.1.1-1/jquery.min.js" type="text/javascript"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="/system/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  <script src="/system/webjars/angularjs/1.6.0/angular.min.js" type="text/javascript"></script>
  <script src="/system/js/resource.js" type="text/javascript"></script>
</body>
</html>