<!DOCTYPE html>
<html lang="en" id="controller" ng-app="ryvr" ng-controller="ResourceController as controller">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<base href="/">
<title>ryvr</title>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/webjars/angularjs/angular-csp.css" />
<link rel="stylesheet" href="/css/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="ryvr" />
<meta name="msapplication-TileColor" content="#28656E" />
<meta name="msapplication-TileImage" content="/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
<body ng-class="{loaded: controller.loaded, loading: controller.loading}">

  <div id="overlay">
    <div class="container">
      <div id="loader"></div>
      Loading...
    </div>
  </div>
  <div class="container main-content" style="visibility: hidden">

    <!-- Static navbar -->
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/wide_color_logo_transparent_background_164_x_25.png"
              alt="{{controller.root.title}}"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="links">
              <li ng-repeat="(rel, link) in controller.root._links" ng-class="{active: isActive(link.href)}"><a
                href="{{link.href}}" rel="{{rel}}">{{link.title ? link.title : rel }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-show="authenticated" class="active"><a href="" ng-click="logout()">Logout</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
    </header>

    <section>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div ng-show="!authenticated">
          <div class="alert alert-danger" ng-show="error">There was a problem logging in. Please try again.</div>
          <form role="form" ng-submit="login()">
            <div class="form-group">
              <label for="username">Username:</label> <input type="text" class="form-control" id="username"
                name="username" ng-model="credentials.username" />
            </div>
            <div class="form-group">
              <label for="password">Password:</label> <input type="password" class="form-control" id="password"
                name="password" ng-model="credentials.password" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>


        <h1 ng-if="controller.resource._links.hasOwnProperty('self')" class="title">
          <a href="{{controller.resource._links['self'].href}}" rel="self">{{controller.resource.title}}</a>
        </h1>
        <h1 ng-if="!controller.resource._links.hasOwnProperty('self')" class="title">{{controller.resource.title}}</h1>
        <!-- p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work.
        It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p-->
      </div>
      <!-- /jumbotron -->

      <div id="properties" ng-if="resourceHasProperties()">
        <h2>Properties</h2>
        <!-- /row -->
        <table class="table properties">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in controller.resourceHeaders" class="propertyRow">
              <th>{{key}}</th>
              <td id="header-{{key}}">{{[].concat(controller.resourceHeaders[key]).join(',')}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <!-- /properties -->

      <div id="linkedItems"
        ng-if="controller.resource.hasOwnProperty('_links') && controller.resource._links.hasOwnProperty('item') && 
        controller.resource._links.item !== null && (!Array.isArray(controller.resource._links.item) || controller.resource._links.item.length > 0)">
        <h2>Links</h2>
        <ul>
          <li ng-repeat="item in [].concat(controller.resource._links.item)" id="item:row:{{item.href}}"><a
            href="{{item.href}}" rel="item" class="linkedItem" id="item:link:{{item.href}}">{{item.title}}</a></li>
        </ul>
      </div>

      <div id="items" ng-if="controller.resource.hasOwnProperty('columns') && controller.resource.columns.length > 0">
        <h2>Records</h2>
        <div class="btn-group" role="group" aria-label="navigation" id="itemNavLinksBefore">
          <a class="btn btn-default" ng-repeat="rel in ['first', 'prev', 'next']"
            ng-class="{disabled: !controller.resourceLinks.hasOwnProperty(rel)}"
            href="{{controller.resourceLinks[rel][0]}}" rel="{{rel}}">{{rel}}</a>
        </div>

        <table class="table records table-striped table-hover">
          <thead>
            <tr>
              <th ng-repeat="heading in controller.resource.columns" class="itemHeading">{{heading}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in controller.resource.rows track by $index" class="itemRow" id="{{$index}}"
              ng-click="target($index)">
              <td ng-repeat="field in record track by $index" data-heading="{{controller.resource.columns[$index]}}"
                data-type="{{typeOf(field)}}">{{field}}</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="navigation" id="itemNavLinks">
          <a class="btn btn-default" ng-repeat="rel in ['first', 'prev', 'next']"
            ng-class="{disabled: !controller.resourceLinks.hasOwnProperty(rel)}"
            href="{{controller.resourceLinks[rel][0]}}" rel="{{rel}}">{{rel}}</a>
        </div>
      </div>

      <div id="rawjson" ng-if="controller.debug">
        <h2>Debug Json</h2>
        <h3>User</h3>
        <pre>
        <code class="json">{{controller.pretty(user)}}</code>
      </pre>
        <h3>Resource</h3>
        <pre>
        <code class="json">{{controller.pretty(controller.resource)}}</code>
        <code class="json">{{controller.pretty(controller.resourceHeaders)}}</code>
      </pre>
        <h3>Root</h3>
        <pre>
        <code class="json">{{controller.pretty(controller.root)}}</code>
        <code class="json">{{controller.pretty(controller.rootLinks)}}</code>
      </pre>
      </div>
      <div id="initjson" ng-class="{hide: !controller.debug}">
        <h2>Init Json</h2>
        <h3>Resource</h3>
        <pre>
        <code class="json" id="init-resource"><%resource%></code>
        <code class="json" id="init-resource-headers"><%resource-headers%></code>
        </pre>
        <h3>Root</h3>
        <pre>
        <code class="json" id="init-root"><%root%></code>
<!--         <code class="json" id="init-root-headers"><%root-headers%></code>
        <code class="json" id="init-root-links"><%root-links%></code>
 -->      </pre>
      </div>
    </section>
  </div>
  <!-- /container -->

  <script src="/webjars.js" type="text/javascript"></script>
  <script data-main="/js/main" src="/webjars/requirejs/require.min.js" type="text/javascript"></script>
  <!--   
  <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script src="/webjars/angularjs/angular.min.js" type="text/javascript"></script>
  <script src="/webjars/querystring/0.2.0/index.js" type="text/javascript"></script>
  <script src="/webjars/parse-link-header/index.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
 -->
</body>
</html>