<!DOCTYPE html>
<html lang="en" id="controller" ng-app="ryvr" ng-controller="ResourceController as controller">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<base href="/">
<title>ryvr</title>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/webjars/angularjs/1.6.0/angular-csp.css" />
<link rel="stylesheet" href="/css/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<body ng-class="{loaded: controller.loaded, loading: controller.loading}">

  <div id="overlay">
    <div class="container">
      <div id="loader"></div>
      Loading...
    </div>
  </div>
  <div class="container main-content" style="visibility: hidden">

    <!-- Static navbar -->
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{controller.root.title}}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="links">
              <li ng-repeat="(rel, link) in controller.root._links" ng-class="{active: isActive(link.href)}"><a
                href="{{link.href}}" rel="{{rel}}">{{link.title ? link.title : rel }}</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
    </header>

    <section>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 ng-if="controller.resource._links.hasOwnProperty('self')" class="title">
          <a href="{{controller.resource._links['self'].href}}" rel="self">{{controller.resource.title}}</a>
        </h1>
        <h1 ng-if="!controller.resource._links.hasOwnProperty('self')" class="title">{{controller.resource.title}}</h1>
        <!-- p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work.
        It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p-->
      </div>
      <!-- /jumbotron -->

      <div id="properties" ng-if="resourceHasProperties()">
        <h2>Properties</h2>
        <div class="row item properties:{{id}}:{{key}}" ng-repeat="(key, value) in resourceProperties()">
          <div class="col-md-1 property-label">
            <label for="property:{{id}}:{{key}}">{{key}}</label>
          </div>
          <div class="col-md-11" id="property:{{id}}:{{key}}">{{value}}</div>
        </div>
        <!-- /row -->
      </div>
      <!-- /properties -->

      <div id="linkedItems"
        ng-if="controller.resource.hasOwnProperty('_links') && controller.resource._links.hasOwnProperty('item') && 
        controller.resource._links.item !== null && (!Array.isArray(controller.resource._links.item) || controller.resource._links.item.length > 0)">
        <h2>Links</h2>
        <ul>
          <li ng-repeat="item in [].concat(controller.resource._links.item)" id="item:row:{{item.href}}"><a
            href="{{item.href}}" rel="item" class="linkedItem" id="item:link:{{item.href}}">{{item.title}}</a></li>
        </ul>
      </div>

      <div id="items"
        ng-if="controller.resource.hasOwnProperty('_embedded') && controller.resource._embedded.hasOwnProperty('item') && 
        [].concat(controller.resource._embedded.item).length > 0">
        <h2>Items</h2>
        <table class="table">
          <thead>
            <tr>
              <th ng-repeat="heading in controller.itemHeadings()" class="itemHeading">{{heading}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in [].concat(controller.resource._embedded.item)"
              class="itemRow">
              <td ng-repeat="heading in controller.itemHeadings()" data-heading="{{heading}}" data-type="{{controller.typeOf(item[heading])}}">{{item[heading]}}</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="navigation" id="itemNavLinks">
          <a class="btn btn-default"
            ng-repeat="rel in ['first', 'prev', 'next', 'current', 'last']"
            ng-if="controller.resource._links.hasOwnProperty(rel) && controller.resource._links[rel] != null"
            ng-class="{active: isActive(controller.resource._links[rel].href)}"
            href="{{controller.resource._links[rel].href}}" rel="{{rel}}">{{controller.resource._links[rel].title ? controller.resource._links[rel].title : rel }}</a>
        </div>
      </div>

      <div id="rawjson" ng-if="controller.debug">
        <h2>Debug Json</h2>
        <h3>Resource</h3>
        <pre>
        <code class="json">{{controller.pretty(controller.resource)}}</code>
      </pre>
        <h3>Root</h3>
        <pre>
        <code class="json">{{controller.pretty(controller.root)}}</code>
      </pre>
      </div>
      <div id="initjson" ng-class="{hide: !controller.debug}">
        <h2>Init Json</h2>
        <h3>Resource</h3>
        <pre>
        <code class="json" id="init-resource"><%resource%></code>
      </pre>
        <h3>Root</h3>
        <pre>
        <code class="json" id="init-root"><%root%></code>
      </pre>
      </div>
    </section>
  </div>
  <!-- /container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/webjars/jquery/3.1.1-1/jquery.min.js" type="text/javascript"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  <script src="/webjars/angularjs/1.6.0/angular.min.js" type="text/javascript"></script>
  <script src="/js/resource.js" type="text/javascript"></script>
</body>
</html>