---
---

@import "{{ site.theme }}";

body > section.main-content > div.cta {
    text-align: center;
}

body > section.main-content > div.cta > a.btn {
    color: rgba(40, 101, 110, 0.7);
    background-color: rgba(40, 101, 110, 0.08);
    border-color: rgba(40, 101, 110, 0.2);
}

body > section.main-content > div.cta > a.btn:hover {
    color: rgba(40, 101, 110, 0.8);
    background-color: rgba(40, 101, 110, 0.2);
    border-color: rgba(40, 101, 110, 0.3);
}