---
---

@import "{{ site.theme }}";

body div.cta {
    text-align: center;
}

body div.cta > a.btn {
    color: rgba(40, 101, 110, 0.7);
    background-color: rgba(40, 101, 110, 0.08);
    border-color: rgba(40, 101, 110, 0.2);
}

body div.cta > a.btn:hover {
    color: rgba(40, 101, 110, 0.8);
    background-color: rgba(40, 101, 110, 0.2);
    border-color: rgba(40, 101, 110, 0.3);
}

p.copyright {
  font-size: smaller;
  margin-top: 1em;
  color: #aaa;
}
