
body > .container {
/*   padding: 60px 15px 0; */
}

#properties > div.row > div.property-label {
	text-align: right;
}

#loader {
    border: 5px solid #d0d0d0; /* Light grey */
    border-top: 11px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.5s ease infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: spin 0.5s ease infinite; /* Firefox < 16 */
        -ms-animation: spin 0.5s ease infinite; /* Internet Explorer */
         -o-animation: spin 0.5s ease infinite; /* Opera < 12.1 */
            animation: spin 0.5s ease infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Firefox < 16 */
@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Internet Explorer */
@-ms-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Opera < 12.1 */
@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#overlay {
    background: rgba(255,255,255,0.5);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

body.loading #overlay {
	visibility: visible;
    opacity: 1;
}

body {
    visibility: visible !important;
    transition: all 0.5s ease-in-out;
}

body .main-content {
    visibility: visible !important;
    opacity: 0;
    -webkit-filter: blur(20px);
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);
         -o-filter: blur(20px);
            filter: blur(20px);
    transition: all 0.5s ease-in-out;
}

body.loaded .main-content {
    opacity: 1;
	-webkit-filter: blur(0px);
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
         -o-filter: blur(0px);
            filter: blur(0px);
}

body.loading .main-content {
    -webkit-filter: blur(20px);
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);
         -o-filter: blur(20px);
            filter: blur(20px);
}